In [4]:
import pandas as pd
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.2/242.2 KB 28.8 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9

In [13]:


df = pd.read_excel('stock_list.xlsx', index_col=0).head(100)
df

,BSE Code,NSE Code,Industry,Current Price,Market Capitalization,High price all time,Price to Earning,Industry PE,Debt to equity,Operating cash flow 3years,...,Profit growth 3Years,Profit growth 5Years,Average return on equity 3Years,Dividend yield,Free cash flow 3years,Cash from operations last year,Free cash flow last year,OPM,Profit after tax,EVEBITDA
Name,,,,,,,,,,,,,,,,,,,,,
Reliance Industr,500325.0,RELIANCE,Refineries,2071.20,1374226.06,2369.35,31.08,6.08,0.41,163408.00,...,6.92,8.24,9.65,0.34,-108440.00,26185.00,-77333.00,13.94,44221.70,16.67
TCS,532540.0,TCS,Computers - Software - Large,3208.15,1186711.17,3399.65,33.62,30.84,0.09,99764.00,...,9.09,6.86,37.41,1.18,92025.00,38802.00,35764.00,28.72,35298.90,22.60
HDFC Bank,500180.0,HDFCBANK,Banks - Private Sector,1502.00,830113.21,1650.00,26.10,21.86,7.20,-37264.17,...,19.77,19.96,16.61,0.43,-42160.37,42476.46,40795.59,59.19,31800.08,21.48
Infosys,500209.0,INFY,Computers - Software - Large,1562.90,665994.16,1591.00,34.51,30.84,0.07,55068.00,...,6.82,7.42,25.39,1.73,47209.00,23224.00,21117.00,27.76,19297.22,21.54
Hind. Unilever,500696.0,HINDUNILVR,Personal Care - Multinational,2451.45,575989.96,2614.30,70.49,58.78,0.00,22586.00,...,16.04,14.36,48.81,1.26,16956.00,9163.00,5097.00,24.47,8171.57,47.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SRF,503806.0,SRF,Textiles - Manmade,7603.60,45047.68,7641.10,37.60,16.56,0.44,3971.76,...,37.45,22.87,19.95,0.32,341.48,1771.68,566.99,25.53,1197.94,21.72
Balkrishna Inds,502355.0,BALKRISIND,Tyres,2280.20,44080.19,2337.50,37.89,22.24,0.17,3332.58,...,17.71,21.12,18.64,0.75,891.93,1339.03,415.85,31.31,1163.33,22.91
Bharat Electron,500049.0,BEL,Electronics - Components,180.85,44065.78,193.40,20.99,30.25,0.00,9177.51,...,13.60,9.43,20.16,1.55,7234.92,5093.22,4625.30,22.76,2098.94,13.21
Bank of Baroda,532134.0,BANKBARODA,Banks - Public Sector,83.65,43258.44,228.90,33.57,14.61,12.95,16194.45,...,38.95,17.65,1.73,0.00,13260.61,-887.05,-1146.25,48.77,1288.58,19.38
P & G Hygiene,500459.0,PGHH,Personal Care - Multinational,13134.70,42636.20,14137.75,63.44,58.78,0.00,1302.49,...,-0.31,4.21,48.43,0.80,1211.26,474.05,423.71,26.88,672.02,42.96

In [14]:
df1 = pd.DataFrame({'City': ['Bangalore', 'Pune', 'Chennai', 'Mumbai','New Delhi'],
                     'Company': ['INFY', 'TCS', 'HDFCBANK', 'HINDUNILVR','RELIANCE']})
df1

        City     Company
0  Bangalore        INFY
1       Pune         TCS
2    Chennai    HDFCBANK
3     Mumbai  HINDUNILVR
4  New Delhi    RELIANCE

In [9]:
merged_inner = pd.merge(left=df, right=df1, left_on='NSE Code', right_on='Company')
# In this case `species_id` is the only column name in  both dataframes, so if we skipped `left_on`
# And `right_on` arguments we would still get the same result

# What's the size of the output data?
merged_inner.shape
merged_inner

,BSE Code,NSE Code,Industry,Current Price,Market Capitalization,High price all time,Price to Earning,Industry PE,Debt to equity,Operating cash flow 3years,...,Average return on equity 3Years,Dividend yield,Free cash flow 3years,Cash from operations last year,Free cash flow last year,OPM,Profit after tax,EVEBITDA,City,Company
0,500325.0,RELIANCE,Refineries,2071.20,1374226.06,2369.35,31.08,6.08,0.41,163408.00,...,9.65,0.34,-108440.00,26185.00,-77333.00,13.94,44221.70,16.67,New Delhi,RELIANCE
1,532540.0,TCS,Computers - Software - Large,3208.15,1186711.17,3399.65,33.62,30.84,0.09,99764.00,...,37.41,1.18,92025.00,38802.00,35764.00,28.72,35298.90,22.60,Pune,TCS
2,500180.0,HDFCBANK,Banks - Private Sector,1502.00,830113.21,1650.00,26.10,21.86,7.20,-37264.17,...,16.61,0.43,-42160.37,42476.46,40795.59,59.19,31800.08,21.48,Chennai,HDFCBANK
3,500209.0,INFY,Computers - Software - Large,1562.90,665994.16,1591.00,34.51,30.84,0.07,55068.00,...,25.39,1.73,47209.00,23224.00,21117.00,27.76,19297.22,21.54,Bangalore,INFY
4,500696.0,HINDUNILVR,Personal Care - Multinational,2451.45,575989.96,2614.30,70.49,58.78,0.00,22586.00,...,48.81,1.26,16956.00,9163.00,5097.00,24.47,8171.57,47.49,Mumbai,HINDUNILVR

In [16]:
merged_left = pd.merge(left=df, right=df1, how='right', left_on='NSE Code', right_on='Company')
merged_left

,BSE Code,NSE Code,Industry,Current Price,Market Capitalization,High price all time,Price to Earning,Industry PE,Debt to equity,Operating cash flow 3years,...,Average return on equity 3Years,Dividend yield,Free cash flow 3years,Cash from operations last year,Free cash flow last year,OPM,Profit after tax,EVEBITDA,City,Company
0,500209.0,INFY,Computers - Software - Large,1562.90,665994.16,1591.00,34.51,30.84,0.07,55068.00,...,25.39,1.73,47209.00,23224.00,21117.00,27.76,19297.22,21.54,Bangalore,INFY
1,532540.0,TCS,Computers - Software - Large,3208.15,1186711.17,3399.65,33.62,30.84,0.09,99764.00,...,37.41,1.18,92025.00,38802.00,35764.00,28.72,35298.90,22.60,Pune,TCS
2,500180.0,HDFCBANK,Banks - Private Sector,1502.00,830113.21,1650.00,26.10,21.86,7.20,-37264.17,...,16.61,0.43,-42160.37,42476.46,40795.59,59.19,31800.08,21.48,Chennai,HDFCBANK
3,500696.0,HINDUNILVR,Personal Care - Multinational,2451.45,575989.96,2614.30,70.49,58.78,0.00,22586.00,...,48.81,1.26,16956.00,9163.00,5097.00,24.47,8171.57,47.49,Mumbai,HINDUNILVR
4,500325.0,RELIANCE,Refineries,2071.20,1374226.06,2369.35,31.08,6.08,0.41,163408.00,...,9.65,0.34,-108440.00,26185.00,-77333.00,13.94,44221.70,16.67,New Delhi,RELIANCE

In [17]:
merged_left[ pd.isnull(merged_left.Company) ]

Empty DataFrame
Columns: [BSE Code, NSE Code, Industry, Current Price, Market Capitalization, High price all time, Price to Earning, Industry PE, Debt to equity, Operating cash flow 3years, Sales, Price to book value, Return on capital employed, Return on assets, Return on equity, EPS, Promoter holding, Pledged percentage, Interest Coverage Ratio, PEG Ratio, Price to Free Cash Flow, Sales growth 3Years, Sales growth 5Years, Profit growth 3Years, Profit growth 5Years, Average return on equity 3Years, Dividend yield, Free cash flow 3years, Cash from operations last year, Free cash flow last year, OPM, Profit after tax, EVEBITDA, City, Company]
Index: []

[0 rows x 35 columns]